.episodes ol {
  list-style: none;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: #333;
  cursor: pointer;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.episode-details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.watch-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;

  border-radius: 0.25rem;
  background-color: white;
  color: black;
  border: none;
}

.watch-button:hover {
  background-color: #9b9b9b;
  cursor: pointer;
}

.watch-button:active {
  background-color: #7a7a7a;
}
